PORT=3000
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=TWILIO_NUMBER
NGROK_URL=NGROK_URL_FOR_WEB_SOCKET
SARVAM_API_KEY=
GEMINI_API_KEY=
TARGET_WHATSAPP_NUMBER=+918688664337
MY_PHONE_NUMBER=+91_NUMBER_WHICH_SENDS_WHATSAPP_MSG
RESUME_URL=https://drive.google.com/file/d/18l53641Zx86cG-dMjEnyPZ01p6kD6_aD/view?usp=sharing
DIAGRAM_IMAGE_URL=https://drive.google.com/file/d/1D_kRgdA2aWl-3hoLArE7enaQMI1Vwyp2/view?usp=sharing
